body{
    background: hsl(336, 9%, 10%);
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(61, 59, 59, 0.712);
    max-width: 400px;
  }
  .todos li{
    background: hsla(340, 10%, 28%, 0.449);
    color: aliceblue;
  }
  .delete{
    cursor: pointer;
  }

.filtered{
  display: none !important;
}
/* .anchor{
  scale: 0.3;
  position: absolute;
  left: 57px;
  top: 236px;
}
#eyes , #eyes img{
  position: absolute;
  scale: 0.1;
} */